name: Main

on:
  push:
    branches: [main]

concurrency:
  group: main
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build all targets
        run: bazel build //...

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test all targets
        run: bazel test //...
